/* Font imports */
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaLight.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: HelveticaRoundedBold;
    src: url('../fonts/HelveticaRoundedBold.woff') format('woff');
}

/* font styles */
:root {
    --emphasis-color: #706F6F;
    --main-color: #A2A2A2; 
    --bg-color: #FFFAF3;
    --light-color: #EEEEEE;
    background-color: var(--bg-color);
    font-size: 18px;
}

.logo {
    font-family: 'Asap';
    font-size: 1.667rem;
    color: var(--emphasis-color)
}

h1{
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-family: 'Asap';
    font-size: 2.778rem;
    font-size: clamp(1.8rem, 11vw, 5rem);
    color: var(--emphasis-color);
    text-align: center;
}

p {
    font-family: 'Helvetica';
    font-size: 18;
    color: var(--main-color)
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--emphasis-color);
    font-family: 'Helvetica';
    font-size: 1.4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--main-color)
}

/* Mobile site */

    /* Grid container - Modified code from https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/ */
        .webgrid {
            display: grid;
            grid-template-columns: 
                [full-start] /* Full represents images that break out of the center grid*/
                2.056rem 
                [main-start]
                repeat(4, 1fr) 
                [main-end]
                2.056rem
                [full-end];
            gap: 10px;
            margin: 0;
            grid-template-areas: 
            "header header header header header header"
            ". main main main main ."
            "footer footer footer footer footer footer"
            ;
        }

        .webgrid > * {
            grid-column: main-start / main-end;
        }

        .webgrid > .full {
            grid-column: full-start / full-end;
        }
    /* Navbar */
        .header {
            background-color: var(--bg-color);
            padding-top: 2.056rem;
            height: 4rem;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            grid-area: header;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            position: absolute;
            left: calc(2.056rem + 10px);
        }
        .hamburger {
            position: absolute;
            right: calc(2.056rem + 10px);
            border: none;
            background: none;
            color: none;
            cursor: pointer;
            /* display: none; */
          }
        
        .bar{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px 0 0 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--emphasis-color);
        }

        button:focus,
        button:hover {
        color: var(--main-color);
        }
        nav {
            border-top: 1px solid var(--light-color);
            margin: 4rem 2.056rem auto 2.056rem;
            display: block;
            visibility: hidden;
            opacity: 0%;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
        nav li{
            font-style: normal;
            list-style-type: none;
            text-align: right;
            padding: 1em;
            translate: 0 -100px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        nav.is-active {
            display: block;
            visibility: visible;
            opacity: 100%;
            color: var(--bg-color);
            -webkit-transition: opacity0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
          }
        .header.is-active{
            height: 18rem;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        nav li.is-active {
            translate: 0 0;
            color: var(--emphasis-color);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }

        .hamburger {
            margin: 0;
            padding: 0;
        }

        .hamburger.active .bar:nth-child(2) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar{
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            opacity: 0;
            transform: translateY(0px) rotate(0deg);
        }
        #hello {
            display:block;
        }

        .main {
            display: flex;
            flex-direction: column;
            grid-area: main;
        }

        .home-left {
            display: flex;
            flex-direction: column;
        }
        .main {
            padding: 2rem 0 0 0;
        }
        .main ul {
            margin: 0px;
            padding: 2rem 0 0 0;
            text-align: center;
            white-space:nowrap
        }
        .main ul li {
            font-style: normal;
            list-style-type: none;
            display: inline-block;
            font-family: 'HelveticaRoundedBold';
            font-size: 1.111rem;
            color: var(--emphasis-color);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        .icon {
            background-color: transparent;
            border: none;
            padding: 0 20px;
            font-size: 50px;
            color: var(--main-color);
            cursor: pointer;
        }
        .fab {
            color: var(--main-color);
            cursor: pointer;
        }
        .hero-img {
            max-width: 100%;
            text-align: center;
            padding: 1rem 0 2rem 0;
        }
        footer {
            text-align: center;
            grid-area: footer;
            padding: 0 0 1rem 0;
        }
        footer p{
            text-align: center;
            font-size: 0.833rem;
            color: var(--emphasis-color);
            font-family: Helvetica;
            padding: 0;
            margin: 0 0 0 0;
        }
        .footer-list {
            padding: 0 0 0 0;
            margin: 5px 0 0 0;
        }
        .footer-list li{
            font-style: normal;
            list-style-type: none;
            display: inline-block;
            font-family: Helvetica;
        }
        .footer-list li a{
            font-size: 0.833rem;
        }

