/* Font imports */
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaLight.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica', Arial, sans-serif;
    src: url('../fonts/HelveticaOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: HelveticaRoundedBold;
    src: url('../fonts/HelveticaRoundedBold.woff') format('woff');
}

/* font styles */
:root {
    --emphasis-color: #706F6F;
    --main-color: #A2A2A2; 
    --bg-color: #FFFAF3;
    --light-color: #EEEEEE;
    background-color: var(--bg-color);
    font-size: 18px;
}

.logo {
    font-family: 'Asap';
    font-size: 1.667rem;
    color: var(--emphasis-color)
}

h1{
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-family: 'Asap';
    font-size: 2.778rem;
    font-size: clamp(1.8rem, 11vw, 4.556rem);
    color: var(--emphasis-color);
    text-align: center;
}

h3 {
    font-family: 'HelveticaRoundedBold';
    font-size: 20px;
    color: var(--emphasis-color);
}

p {
    font-family: 'Helvetica';
    font-size: 16px;
    color: var(--emphasis-color);
}

.projectMain li {
    font-family: 'Helvetica';
    font-size: 16px;
    color: var(--emphasis-color);
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--emphasis-color);
    font-family: 'Helvetica';
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--main-color)
}

/* Mobile site */

    /* Grid container - Modified code from https://rachelandrew.co.uk/archives/2017/06/01/breaking-out-with-css-grid-explained/ */
        .webgrid {
            display: grid;
            grid-template-columns: 
                [full-start] /* Full represents images that break out of the center grid*/
                2.056rem 
                [main-start]
                repeat(4, 1fr) 
                [main-end]
                2.056rem
                [full-end];
            gap: 10px;
            margin: 0;
            grid-template-areas: 
            "header header header header header header"
            ". main main main main ."
            "footer footer footer footer footer footer"
            ;
            min-height: 100vh;
        }

        .webgrid > * {
            grid-column: main-start / main-end;
        }

        .webgrid > .full {
            grid-column: full-start / full-end;
        }
        
    /* Navbar */
        .header {
            background-color: var(--bg-color);
            padding-top: 2.056rem;
            height: 4rem;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            grid-area: header;
            grid-auto-rows: min-content;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            position: absolute;
            left: calc(2.056rem + 10px);
        }
        .hamburger {
            position: absolute;
            right: calc(2.056rem + 10px);
            border: none;
            background: none;
            color: none;
            cursor: pointer;
            /* display: none; */
          }
        
        .bar{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px 0 0 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--emphasis-color);
        }

        button:focus,
        button:hover {
        color: var(--main-color);
        }
        nav {
            border-top: 1px solid var(--light-color);
            margin: 4rem 2.056rem auto 2.056rem;
            display: block;
            visibility: hidden;
            opacity: 0%;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
        nav li{
            font-style: normal;
            list-style-type: none;
            text-align: right;
            padding: 1em;
            translate: 0 -100px;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
        }
        nav.is-active {
            display: block;
            visibility: visible;
            opacity: 100%;
            color: var(--bg-color);
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
          }
        .header.is-active{
            height: 18rem;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        nav li.is-active {
            translate: 0 0;
            color: var(--emphasis-color);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        nav ul li {
            font-size: 1.4rem;
        }
        .hamburger {
            margin: 0;
            padding: 0;
        }

        .hamburger.active .bar:nth-child(2) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar{
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            opacity: 0;
            transform: translateY(0px) rotate(0deg);
        }
        #hello {
            display:block;
        }

        .main {
            display: flex;
            flex-direction: column;
            grid-area: main;
        }

        .designmain {
            display: flex;
            flex-direction: column;
            grid-area: main;
        }

        .home-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .main {
            padding: 2rem 0 0 0;
        }
        .designmain {
            padding: 2rem 0 0 0;
        }
        .main ul {
            margin: 0px;
            padding: 2rem 0 0 0;
            text-align: center;
            white-space:nowrap
        }
        .main ul li {
            font-style: normal;
            list-style-type: none;
            display: inline-block;
            font-family: 'HelveticaRoundedBold';
            font-size: 1.111rem;
            color: var(--emphasis-color);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        .icon {
            background-color: transparent;
            border: none;
            padding: 0 20px;
            font-size: 37.28px;
            color: var(--main-color);
            cursor: pointer;
        }
        .icon:hover {
            color: var(--emphasis-color);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        .hero-img {
            max-width: 100%;
            text-align: center;
            padding: 1rem 0 2rem 0;
        }
        footer {
            grid-auto-rows: min-content;
            text-align: center;
            grid-area: footer;
            padding: 0 0 1rem 0;
            align-self: end;
        }
        footer p{
            text-align: center;
            font-size: 0.833rem;
            color: var(--emphasis-color);
            font-family: Helvetica;
            padding: 0;
            margin: 0 0 0 0;
        }
        .footer-list {
            padding: 0 0 0 0;
            margin: 5px 0 0 0;
        }
        .footer-list li{
            font-style: normal;
            list-style-type: none;
            display: inline-block;
            font-family: Helvetica;
        }
        .footer-list li a{
            font-size: 0.833rem;
        }
        /* DesignPage */
        .designmain {
            padding-top: 2rem;
        }
        .projectlist {
            list-style-position:outside;
            /* font-size: 2.778rem; */
            font-size: clamp(1.8rem, 11vw, 2.778rem);
            font-family: 'Asap';
            color:var(--main-color);
        }
        .projectlist ol {
            margin: 0;
        }

        .projectlist ol li {
            margin: 0 0 2rem 0;
        }

        .projectTitle {
            text-align: left;
            font-size: clamp(1.8rem, 11vw, 2.778rem);
            font-family: 'Asap';
            display: block;
        }
        .projectTitle a{
            /* font-size: 2.778rem; */
            font-size: clamp(1.8rem, 11vw, 2.778rem);
            font-family: 'Asap';
            display: block;
        }
        .projectSubtitle {
            margin-top: .5rem;
            /* font-size: 1.111rem; */
            font-size: clamp(1.5rem, 1vw, 1.111rem);
            font-family: 'HelveticaRoundedBold';
            color:var(--emphasis-color);
        }
        .bigbreak {
            display: none;
        }
        /* ProjectPage */
        .projectImg {
            max-height: 40vh;
            max-width: 70vw;
            object-fit: cover;
            align-self: flex-start;
            justify-self: left;
        }
        .projectWebgrid {
            grid-template-areas: 
            "header header header header header header"
            "content content content content content content"
            "footer footer footer footer footer footer"
            ;
            grid-auto-rows: min-content;
        }
        .projectMain {
            grid-area: content;
            display: grid;
            grid-template-columns: 
            [full-start] /* Full represents images that break out of the center grid*/
            2.056rem 
            [main-start]
            repeat(4, 1fr) 
            [main-end]
            2.056rem
            [full-end];
        gap: 10px;
        margin: 0;
        }

        .projectMain > * {
            grid-column: main-start / main-end;
        }

        .projectMain > .full {
            grid-column: full-start / full-end;
        }

        .projectHeading {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            grid-template-areas: 
            "back heading heading heading "
            "back subheading subheading . "
            ;
            
        }

        .backIcon {
            margin: 0;
            padding: 0;
            grid-area: back;
            justify-self: left;
            max-height: fit-content;
        }

        .projT{
            grid-area: heading;
            align-self: end;
            font-size: clamp(1.8rem, 10vw, 2.778rem);
        }

        .projectSt {
            grid-area: subheading;
            align-self: start;
            margin: 0;
            padding: 0;
            font-size: clamp(1rem, 1vw, 1.111rem);
        }

        .projHero img{
            height: auto;
            width: 100%;
        }

        .projImg {
            width: 100%;
            grid-column: full-start / full-end;
            margin: 0;
            padding: 0;
        }

        .imgCaption {
            color: var(--main-color);
            font-size: .8rem;
            font-style: italic;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .projectMain {
            padding-bottom: 3rem;
        }

        .threeplayergrid {
            display: flex;
            flex-direction: column;
            background-color: var(--light-color);
            gap: 1em;
            align-items: center;
            justify-content: space-around;
            padding: 4vw 2vw 4vw 2vw;
        }   

        .vid {
            max-width: 90vw;
            object-fit: contain;
            justify-self: center;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
        }
        .p5js-iframe {
            width: 400px;
            height: 400px;
            max-width: 100vw;
            overflow: hidden;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
        }
        /* Illustration page */
        .illustrationGrid {
            display: grid;
            grid-column: full-start / full-end;
            gap: 0px;
            margin-bottom: 1rem;
        }
        .illustrationImg {
            width: 100%;
            padding: 0;
            margin: 0;
            display: block;
        }
@media  screen and (min-width: 740px) {
    .illustrationGrid {
        grid-column: main-start / main-end;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .illustrationCell {
        box-shadow: inset 0px 3px 6px 0 rgba(0, 0, 0, 0.10);
        border-radius: 40px;
        z-index: 1;
    }
    .illustrationImg {
        border-radius: 40px;
        position: relative;
        z-index: -2;
    }
    .threeplayergrid {
        flex-direction: row;
        max-width: 100vw;
    }
    .vid {
        max-width: 30vw;
    }
    .webgrid {
        grid-template-columns: 
        [full-start] /* Full represents images that break out of the center grid*/
        .3fr
        [main-start]
        repeat(4, 1fr) 
        [main-end]
        .3fr
        [full-end];
        gap: 0;
        grid-template-areas:
        " . header header header header . "
        " . main main main main . "
        " . footer footer footer footer . "
        ;
    }

    .projectMain {
        grid-template-columns: 
        [full-start] /* Full represents images that break out of the center grid*/
        .3fr
        [main-start]
        repeat(4, 1fr) 
        [main-end]
        .3fr
        [full-end];
        gap: 0;
    }

    .main {
        padding-top: 2rem;
    }


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger {
        display: none;
    }
    nav ul {
        display: block;
    }
    nav {
        visibility: visible;
        opacity: 100%;
        border-top: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline-block;
        padding: 0em 0 0em 1em;
        translate: 0;
        
    }
    .main ul li {
        font-size: 1.944rem;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    nav ul li a {
        font-size: 1.111rem;
        padding: .7rem 1.5rem .7rem 1.5rem;
        border: 1px solid var(--emphasis-color);
        border-radius: 50px;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;

    }
    nav ul li a:hover {
        background-color: var(--main-color);
        color: white;
        border: 1px solid var(--main-color);
    }
    .activePage {
        background-color: var(--emphasis-color);
        color: white;
        border: 1px solid var(--emphasis-color);
    }
    #menu {
        position: relative;
        right: 0;
        margin-top: 0;
        padding: 0;
    }
    .logo {
        position: relative;
        left: 0;
    }

    /* design page */
    .designmain {
        padding-top: 4rem;
    }

    /* project page  */
    .projectWebgrid {
        grid-template-columns: 
        [full-start] /* Full represents images that break out of the center grid*/
        .3fr
        [main-start]
        repeat(4, 1fr) 
        [main-end]
        .3fr
        [full-end];
        gap: 0;
        grid-template-areas:
        " . header header header header . "
        " content content content content content content "
        " . footer footer footer footer . "
        ;
    }
    .projectHeading {
        margin: 3.5rem 0 2rem 0;
    } 
    
}
@media  screen and (min-width: 992px) {
    .bigbreak {
        display: block;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-area: footer;
    }
    .footer p {
        margin: 0;
        padding: 0;
    }
    .footer-list {
        margin: 0;
        padding: 0;
    }
    .icon {
        font-size: 50px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        padding: 0 40px 0 0;
    }
    .home-left {
        grid-area: left;
        align-items: left; /*This centers content vertically */
        text-align: left;
        justify-content: center;
    }
    .hero-img {
        grid-area: hero;
        padding-top: 0;
    }
    .main {
        display: grid;
        grid-template-columns: 
            [main-start]
            repeat(12, 1fr) 
            [main-end];
        gap: 16px;
        margin: 0;
        padding-top: 0;
        grid-template-areas: 
        "left left left left left . hero hero hero hero hero hero"
        ;
        grid-area: main;
    }
    .main ul {
        text-align: left;
    }
    h2 {
        text-align: left;
    }
    /* design page */
    .rotateleft {
        transform: rotate(-1deg);
    }
    .rotateright {
        transform: rotate(1deg);
    }
    .projectgrid {
        font-size: 4.444rem;
        display: grid;
        grid-template-columns: 
            [main-start]
            repeat(12, 1fr) 
            [main-end];
        gap: 16px;
        margin: 0;
        grid-template-areas: 
        "title title title title date . img img img img img img"
        ;
        align-items: flex-end;
        margin: 1rem 0 6rem 0;
        grid-auto-rows: min-content;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

    }

    .projectlist {
        grid-area: list;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .projectlist ol li::marker{
        font-size: clamp(1.8rem, 4vw, 4.444rem);
    }
    .projectSubtitle {
        grid-area: date;
        margin: 0 0 .4rem 0;
        font-size: clamp(.5rem, 2.2vw, 1.8rem);
    }
    .projectImg {
        grid-area: img;
        max-width: 40vw;
        max-height: 170px;
        border-radius: 1rem;
        position: relative;
        display: none;
        -webkit-box-shadow: 5px 5px 21px -3px rgba(0,0,0,0.1); 
        box-shadow: 5px 5px 21px -3px rgba(0,0,0,0.1);
    }
    .projectTitle {
        padding-top: 0;
        grid-area: title;
    }

    .projectTitle a {
        font-size: clamp(1.8rem, 4vw, 4.444rem);
    }

    .projectlist {
    list-style-position:outside;
    font-size: 2.778rem;
    font-family: 'Asap';
    color:var(--main-color);
    }
    

    /* project page */
    .projT{
        grid-area: heading;
        align-self: center;
        font-size: clamp(3rem, 5vw, 5rem);
    }

    .projSt {
        grid-area: subheading;
        align-self: end;
        margin-bottom: .5rem;
    }

    .backIcon {
        margin: 0;
        padding: 0;
    }

    .projectHeading {
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
        margin: 3.5rem 0 3rem 0;
        grid-template-areas: 
        " back heading heading heading heading subheading . . . . . . "
        ;
        grid-auto-rows: min-content;
    }
    .projImg {
        width: 100%;
        grid-column: main-start / main-end;
        position: relative;
        border-radius: 40px;
        z-index: -2;
    }

    .projectHero {
        margin-bottom: 3rem;
    }

    .shadow {
        margin-top: 2em;
        box-shadow: inset 0px 3px 6px 0 rgba(0, 0, 0, 0.10);
        border-radius: 40px;

    }

    .section {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
        grid-template-areas: 
        "sectionHeading sectionHeading sectionHeading sectionHeading . sectionCopy sectionCopy sectionCopy sectionCopy sectionCopy sectionCopy ."
        ;
    }

    .sectionHeading {
        grid-area: sectionHeading;
        align-self: start;
        justify-self: right;
        text-align: right;
    }

    .sectionCopy {
        grid-area: sectionCopy;
    }

    .illustrationGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}